.about-me {
    border: 1px solid #ccc;
    background: #fff;
    padding: 45px;
    margin-right: 60px;
    margin-bottom: 20px;
}

.about-me .about-me-container {
    width: 100%;
}


.about-me .about-me-container img {
    float: left;
    margin-right: 10px;
}

.about-me .about-me-container p{
    line-height: 1.5em;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}