.body {
    background: rgb(230, 219, 219);
}
.myNavbar {
    height: 80px;
    padding: 20px;   
    border:1px solid #ddd;

}

.header {
    width: 920px;
}

.profile {
    background: #4aaaa5;    
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size:24px;
    height: 80px;
    width: 190px;
    color:#fff;
    position: absolute;
    top: -21px;
    text-align: center;
    padding: 28px 0px;
}

.profile:hover {
    background: #4aaaa5;
    color: #fff;

}

.header ul li a {
    color: #ccc;
}

.header ul li + li::before {
    content: "|";
    color: #ccc;
    float: left;
    position: relative;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content {
    width: 930px;
    padding: 112px 15px;

}

.portfolio {
    border: 1px solid #ddd;
    margin-right: 20px;
    width: 650px;
    height: 700px;
    background: #fff;
}
.connect-me {
    border: 1px solid #ddd;
    width: 250px;
    height: 160px;
    background: #fff;

}

.portfolio .portfolio-title {
    color: #4aaaa5;
    font-family:  'Georgia', Times, Times New Roman, serif;
    font-size:30px;
    font-weight: bold;
}

.portfolio .portfolio-border {
     border: 1px solid #ccc;
}

.connect-me .connect-me-title {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size:24px;
    font-weight: bold;
    text-align: center;

}

.connect-me .connect-me-border {
    width: 205px;
    margin-top: 0px;
}


.connect-me .connect-me-footer img {
    width: 45px;
    height: 45px;
}
.portfolio .imgs-container {
    padding: 10px;
}
.portfolio .imgs-container .img-box {
     position: relative;
     padding: 0px;
     margin: 20px 38px;
     width: 220px;
     height: 200px;
}

.portfolio .imgs-container img {
    width: 100%;
    max-width: 100%;
}
.portfolio .imgs-container .img-box .img-box-text {
    position: absolute;
    background: #4aaaa5;    
    left: 0;
    bottom: 0%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    height: 50px;
}

.footer {
    background: #666;
    text-align: center;
    color: #fff;
    padding: 20px;
}