.portfolio {
    border: 1px solid #ccc;
    background: #fff;
    padding: 45px;
    margin-right: 60px;
    margin-bottom: 20px;
}


.portfolio .portfolio-imgs-container {
    width: 100%;
}

.portfolio .portfolio-imgs-container .img-box {
    position: relative;
    padding: 0;
    margin: 20px 38px;
    width: 220px;
    height: 200px;
}

.portfolio .portfolio-imgs-container .img-box img {
    width: 100%;
}

.portfolio .portfolio-imgs-container .img-box .img-box-text {
    position: absolute;
    background: #4aaaa5;    
    left: 0;
    bottom: 5%;
    text-align: center;
    padding: 15px 0px;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    height: 50px;
}
